footer a {
    text-decoration: none;
    color: rgb(140, 177, 243);
}
.pie-pagina {
    background-color: rgb(18, 27, 43); 
}
.decoracionfooter {
    border-top: 4px solid transparent; 
    border-image: linear-gradient(to right, #44006b, #edd163); 
    border-image-slice: 1; 
}
.box {
    margin-bottom: 20px;
}

.titulo {
    margin-bottom: 10px;
}

.redes-sociales a {
    margin-right: 15px; 
    text-decoration: none;
}

.redes-sociales a:last-child {
    margin-right: 0; 
}
.redes-img {
    width: 40px; 
    margin-right: 15px; 
}