/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;400;800&display=swap');

/*Iconos*/

/*colores*/


.navbar-nav .nav-link {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px; /* Tamaño de fuente deseado */
}

/* Opcional: Aumentar el tamaño del texto del botón de búsqueda */
.form-control {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px; /* Tamaño de fuente deseado */
}